header {
	z-index: 100;
	position: fixed;
	top: 0;
	background-color: #F6F8F9;
	width: 1740px;
	height: 50px;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	color: #FA6980;
	font-size: 20px;
	font-style: Helvetica;
	font-weight: bold;
	opacity: 100%;
	margin: 10px 90px 30px 30px;

}
nav {
	display: inline-block;
	vertical-align: middle;
}
.li {
    display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	font-style: Helvetica;
	font-weight: bold;
	opacity: 70%;
	color: #343638;
	margin: 10px 25px 30px 0px;
}

.girl {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.section1 {
	position: relative;
	width: 1160px;
	height: 410px;
	background-color: #FFFFFF;
	margin: 80px 140px 40px 140px;
}
h2 {
	color: #202124;
	font-size: 26px;
	font-style: Helvetica;
	font-weight: bold;
}
.div1 {
	position: absolute;
	width: 360px;
	height: 350px;
	top: 50px;
	padding-right: 40px;
	left: 0;

}
/*.wrapper {
	position: relative;
}*/
.img2 {
	width: 360px;
	height: 180px;
	border-radius: 3%;
}
.text {
	position: absolute;
	font-size: 18px;
	font-style: Helvetica;
	font-weight: bold;
	color: #FFFFFF;
	top: 30px;
	left: 40px;
}
.divdiv {
	width: 360px;
	height: 180px;
	background-color: #FFFFFF;
}
.lorem {
	position: absolute;
	width: 280px;
	height: 38px;
	color: #A6ADB4;
	font-size: 15px;
	font-style: Acumin Pro;
	margin: 63px 71px 20px 40px;

}
.clock {
    position: absolute;
	width: 69px;
	height: 16px;
	color: #A6ADB4;
	font-size: 15px;
	font-style: Helvetica;
	font-weight: oblique;
	margin: 113px 224px 40px 40px;

}
.div2 {
	position: absolute;
	width: 360px;
	height: 350px;
	top: 50px;
	padding-right: 40px;
	left: 400px;

}
.div3 {
	position: absolute;
	width: 360px;
	height: 350px;
	top: 50px;
	right: 0;

}
.section2 {
	position: relative;
    display: inline-block;
	vertical-align: top;
	width: 760px;
	height: 900px;
	background-color: #FFFFFF;
	margin-top: 40px;
}
.img3 {
	width: 760px;
	height: 430px;
	border-radius: 1%;
	margin-bottom: 40px;
}
.img4 {
	width: 760px;
	height: 430px;
	border-radius: 1%;
	bottom: 0%;
}
.h2 {
	margin-bottom: 40px;
}
.wrapper1 {
	position: relative;
}
.text1{
	position: absolute;
	font-size: 18px;
	font-style: Helvetica;
	font-weight: bold;
	color: #FFFFFF;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.section3 {
	position: relative;
    display: inline-block;
	vertical-align: top;
	width: 360px;
	height: 900px;
	background-color: #FFFFFF;
	margin-left: 40px;
	margin-top: 105px;
}
.section {
    width: 1290px;
	height: 996px;
	margin-left: 140px;

}
.img7 {
	width: 360px;
	height: 210px;
	border-radius: 1%;
	margin-bottom: 102px;
}

footer {
	width: 1440px;
	height: 200px;
	background-color: #A6ADB4;
	margin-top: 40px;
}
.box {
	width: 486.09;
	height: 86px;
	/*margin: 60px 60px 50px 140px;*/
}
.logo1{ 
    display: inline-block;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 15px;
	font-style: Acumin Pro;
	font-weight: bold;
	opacity: 100%;
	margin: 60px 60px 50px 140px;
} 
.lii {
    display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-style: Helvetica;
	font-weight: bold;
	opacity: 100%;
	color: #CBD0D3;
	margin: 90px 60px 50px 40px;
	line-height: 17px;

}
.div4 {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-style: Helvetica;
	opacity: 100%;
	color: #CBD0D3;
	margin-right: 60px;
}

.icon {
	width: 18px;
	margin-right: 30px;
}